<html>

<head>
<title>phatmeter running on Raspberry Pi & Enviro pHAT</title>
<link rel="stylesheet" href="/static/bootstrap.min.css" />
<link rel="stylesheet" href="/static/style.css" />
<script src="/static/jquery.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
</head>

<body>

<div class="jumbotron text-center">
<h1>phatmeter running on Raspberry Pi & Enviro pHAT</h1>
</div>

<div class="container">

<ul class="nav nav-tabs">
<li class="active"><a data-toggle="tab" href="#table">Sensor data</a></li>
<li><a data-toggle="tab" href="#control">Control</a></li>
</ul>

<div class="tab-content">

<div id="table" class="tab-pane fade in active">
<p>
<table>
<thead>
<tr>
<th>Attribute</th>
<th>Value</th>
</thead>
<tbody>
{% for attribute, value in data %}
<tr>
<td>{{attribute}}</td>
<td>{{value}}</td>
</tr>
{% endfor %}
</tbody>
</table>
</p>
</div>

<div id="control" class="tab-pane fade">
<p>
<div class="btn-toolbar">
<a class="btn btn-default" href="/download" role="button">Download data</a>
<a class="btn btn-default" href="/leds_on" role="button">Turn LEDs on</a>
<a class="btn btn-default" href="/leds_off" role="button">Turn LEDs off</a>
</div>
</p>
</div>
<A HREF="javascript:history.go(0)">Click to refresh the page</A>
</div>
<div class="footer" id="footer">
	<p>(c) 2018 Richard Parslow.  
		Powered by <a href="http://flash.pocoo.org">Flask</a>
	</p>
</div>		
</body>
</html>
